{% extends "base.html" %}

{% block content %}

{% if rc_car_owned_list %}
<p> Cars you own: </p>
{% for rc in rc_car_owned_list %}
<strong> <a href="/dashboard/rc/ {{ rc.id }}"> {{ rc.name }} </a> </strong>
	<ul>
		<li> Date Added: {{ rc.date_added }}  </li>
    <li> Last Used: {{ rc.last_used }} </li>
    <li> Car id: {{ rc.id }}</li>
	</ul>
  {% endfor %}
{% else %}
	<p> You don't own any cars! </p>
{% endif %}

{% if rc_car_shared_list %}
<p> Cars shared with you: </p>
{% for rc in rc_car_shared_list %}
<strong> {{ rc.name }} </strong>
	<ul>
		<li> Date Added: {{ rc.date_added }}  </li>
    <li> Last Used: {{ rc.last_used }} </li>
    <li> Car id: {{ rc.id }}</li>
	</ul>
  {% endfor %}
{% else %}
	<p> Nobody has shared any cars! </p>
{% endif %}

{% endblock %}
