{% extends "base.html" %} {% block content %}
<style>
.card {display:inline-block;}
</style>
<div class="col-sm-12 col-lg-6">
	<div class="card text-white bg-secondary mb-3 align-items-stretch" style="max-width: 20rem;">
		<div class="card-header"> Car Information </div>
		<div class="card-body">
			<h4 class="card-title"> {{ rc.name }} </h4>
			<p class="card-text"> UUID: {{ rc.id }} </p>
			<p class="card-text"> Created: {{ rc.date_added }} </p>
			<p class="card-text"> Last Used: {{ rc.last_used }} </p>
		</div>
	</div>
	<div class="card text-white bg-secondary mb-3 align-items-stretch" style="max-width: 20rem;">
		<div class="card-header"> Available? </div>
		<div class="card-body">
			<h4 class="card-title"> Todo </h4>
			<p class="card-text"> Will ping the websocket to say if this is being used or not </p>
		</div>
	</div>
	{% if is_owner %}
	<div class="card text-white bg-secondary mb-3 align-items-stretch" style="max-width: 20rem;">
		<div class="card-header"> You are the owner </div>
		<div class="card-body">
			<h4 class="card-title"> Owner </h4>
			<p class="card-text">  <a href="{{ request.path }}/edit/"> Edit this car </a> </p>
			<p class="card-text">  <a href="{{ request.path }}/change_password/"> Change the car's password </a> </p>
		</div>
</div>
	{% endif %}
</div>

</div>

<div class="RC_Controls">

	<form>

		<input id="rc_scale" type="range" name="inputRange" min="0" max="100" value="100" oninput="this.form.inputType.value=this.value" />
		<input id="rc_scale_text_box" type="number" name="inputType" min="0" max="100" value="100" oninput="this.form.inputRange.value=this.value" />

	</form>

	</script>


	</br>

	<input id="rc_left" type="button" value="Left" onmousedown ="rc_left = true" onmouseup="rc_left = false" />
	<input id="rc_forward" type="button" value="Forward" onmousedown ="rc_forward = true" onmouseup="rc_forward = false" />
	<input id="rc_reverse" type="button" value="Reverse" onmousedown ="rc_reverse = true" onmouseup="rc_reverse = false"/>
	<input id="rc_right" type="button" value="Right" onmousedown ="rc_right = true" onmouseup="rc_right = false"/>

	</br>

	<script>

		var rc_left = false;
		var rc_forward = false;
		var rc_reverse = false;
		var rc_right = false;

		var roomName = "{{ rc.id }}";

		var control_socket = new WebSocket(
			'ws://' + window.location.host + '/ws/' + roomName + '/control/');

		control_socket.onmessage = function(e) {
			var we_do_nothing_here = e;
		};

		control_socket.onclose = function(e) {
			console.error('Error: socket closed');
		};

		function send_control(angle) {
			var scale = document.querySelector('#rc_scale').value;
			console.log("Sending packet (scale,angle): " + scale + ", " + angle);
			control_socket.send(JSON.stringify({
				'type': "controls",
				'drive': angle,
				'scale': scale,
			}))
		};

		/*document.querySelector('#rc_left').onclick = function(e) {
			send_control(270);
		};

		document.querySelector('#rc_right').onclick = function(e) {
			send_control(0);
		};

		document.querySelector('#rc_forward').onclick = function(e) {
			send_control(90);
		};


		document.querySelector('#rc_reverse').onclick = function(e) {
			send_control(270);
		};*/

		function on_screen_buttons(){
			if (rc_forward){
				send_control(90);
			} else if (rc_left){
				send_control(180);
			} else if (rc_right){
				send_control(0);
			} else if (rc_reverse){
				send_control(270)
			}
		}

		setInterval(on_screen_buttons, 250)

		function toRadians(angle) {
			return angle * (Math.PI / 180);
		};

		function send_control_with_scale(angle, scale) {
			console.log("Sending packet (scale,angle): " + scale + ", " + angle);
			control_socket.send(JSON.stringify({
				'type': "controls",
				'drive': angle,
				'scale': scale,
			}))
		};

		document.onkeydown = function() {
			switch (window.event.keyCode) {
				case 37:
					send_control(180)
					break;
				case 38:
					send_control(90)
					break;
				case 39:
					send_control(0)
					break;
				case 40:
					send_control(270)
					break;
			}
		};

		var haveEvents = 'GamepadEvent' in window;
		var controllers = {};
		var rAF = window.mozRequestAnimationFrame ||
			window.webkitRequestAnimationFrame ||
			window.requestAnimationFrame;

		function connecthandler(e) {
			addgamepad(e.gamepad);
		}

		function addgamepad(gamepad) {

			controllers[gamepad.index] = gamepad;
			rAF(updateStatus);
		}

		function disconnecthandler(e) {
			removegamepad(e.gamepad);
		}

		function removegamepad(gamepad) {
			delete controllers[gamepad.index];
		}

		function updateStatus() {
			scangamepads();
			for (j in controllers) {
				var controller = controllers[j];
				if (((controller.axes[1].toFixed(4) > .1) || (controller.axes[1].toFixed(4) < -.1)) || (((controller.axes[0].toFixed(4) > .1) || (controller.axes[0].toFixed(4) < -.1)))) {
					var angle = Math.atan2((-1 * controller.axes[1].toFixed(4)), controller.axes[0].toFixed(4)) * (180 / Math.PI);
					console.log("Angle: " + angle);
					var scale = 100 * Math.abs(controller.axes[3].toFixed(4));
					var input = document.getElementById("rc_scale").value;
					if (scale < input) {
						scale = input;
					}
					send_control_with_scale(angle, scale);
				}
			}
			rAF(updateStatus);
		}

		function scangamepads() {
			var gamepads = navigator.getGamepads ? navigator.getGamepads() : (navigator.webkitGetGamepads ? navigator.webkitGetGamepads() : []);
			for (var i = 0; i < gamepads.length; i++) {
				if (gamepads[i]) {
					if (!(gamepads[i].index in controllers)) {
						addgamepad(gamepads[i]);
					} else {
						controllers[gamepads[i].index] = gamepads[i];
					}
				}
			}
		}

		if (haveEvents) {
			window.addEventListener("gamepadconnected", connecthandler);
			window.addEventListener("gamepaddisconnected", disconnecthandler);
		} else {
			setInterval(scangamepads, 10000);
		}
	</script>

</div>

{% endblock %}
